<p class="text-center text-muted hover-footer">&copy; Copyright 2023 Tech Foul</p>
<p class="text-center text-muted hover-footer">
	Disclaimer: The information presented is intended for entertainment purposes only, and is not an indication of the
	authors’ beliefs regarding match results, nor a guarantee of results.
</p>
