<meta charset="UTF-8" />
<title>Tech Foul</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
<style>
    body {
        padding-top: 50px;
        background-color: #a4230d;
    }
    main {
        color: white;
        background-color: #374354;
    }
    header {
        color: white;
    }
    img {
        height: 5%;
        width: 5%;
        padding-bottom: 10px;
    }
    ul {
        list-style-type: none;
    }
</style>
