<a href="http://localhost:4000/"><div id="header-logo"></div></a>
<div class="row align-items-center justify-content-center">
  <H2 class="col-2 d-flex justify-content-center main-header">Tech Foul</H2>
</div>
