<div>
  <img class="logo-header" src="/images/TF_Logo_2.png" alt="Tech Foul" />
</div>
<div class="row align-items-center justify-content-center">
  <H2 class="col-2 d-flex justify-content-center main-header">Tech Foul</H2>
</div>
