/* .check-box {
  transform: scale(2);
} */

input[type='checkbox'] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #3665fff1;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type='checkbox']::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type='checkbox']:checked::before {
  transform: translateX(100%);
  background: #fff;
}

input[type='checkbox']:checked {
  background: #060031;
}
body {
  padding-top: 50px;
}

header {
  color: white;
}

.team-icons img {
  padding: 2px;
  width: 6.5rem;
  height: 5rem;
}

ul {
  list-style-type: none;
}

.bg-image {
  background-image: url('https://cdn.oneesports.gg/cdn-data/2022/03/Dota2_ClashofHeroes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

.logo-header {
  height: 5%;
  width: 5%;
  padding-bottom: 10px;
}

.flex-text {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
}

.start-time {
  margin-bottom: 0;
}

.clicked {
  background-color: #252c38;
}

.main-container {
  border-radius: 10px;
  background-color: #374354;
}

.live-button {
  background-color: #a4230d;
  color: white;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  border-radius: 7px;
}

.live-button:hover {
  color: #ceac4d;
}

.live-button:active {
  box-shadow: 0px 0px 5px;
}

.light-mode-body {
  background-color: white;
}

.light-mode-main {
  background-color: rgb(86, 152, 206);
  border-color: #252c38;
}

.light-mode-text {
  color: rgb(0, 0, 0);
}

.light-mode-header {
  color: rgb(0, 0, 0);
  background-color: rgb(86, 152, 206);
  border-radius: 25px;
  box-shadow: -2px 3px 0px 0px rgb(86, 152, 206), 0 6px 20px 0 rgb(86, 152, 206);
  font-family: constantia;
  font-weight: bold;
}

.main-header {
  --bs-text-opactiy: 1;
  color: rgba(248, 249, 250, var(--bs-text-opactiy));
  background-color: #374354;
  border-radius: 25px;
  box-shadow: -2px 3px 0px 0px #374354, 0 6px 20px 0 #374354;
  font-family: constantia;
  font-weight: bold;
}

.main-text {
  --bs-text-opactiy: 1;
  color: rgba(248, 249, 250, var(--bs-text-opactiy));
}

.light-dark-button {
  display: inline-block;
  padding: 2px 5px;
  background-color: #374354b9;
  color: rgba(248, 249, 250, var(--bs-text-opactiy));
  cursor: pointer;
  border-radius: 5px;
}

.button-light {
  background-color: rgb(95, 167, 227);
  border-color: #252c38;
  border: 2px solid rgb(74, 131, 177);
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(0, 0, 0);
}

.button-light:active {
  background-color: rgb(198, 198, 198);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: inset 0px 0px 5px;
}

.button-dark:active {
  background-color: rgb(198, 198, 198);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0px 0px 5px;
  color: black;
}

.button-dark {
  background-color: #374354b9;
  display: inline-block;
  padding: 2px 5px;
  border: 2px solid #222a34b9;
  margin-top: 2px;
  margin-bottom: 2px;
  --bs-text-opactiy: 1;
  color: rgba(248, 249, 250, var(--bs-text-opactiy));
}
