body {
  padding-top: 50px;
  background-color: #a4230d;
}
header {
  color: white;
}

#header-logo {
  display: flex;
  height: 138px;
  width: 196px;
  background-image: url('../images/TF_Logo_2.png');
  background-repeat: no-repeat;
  background-position: left;
}

.team-name-top {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-icon > img {
  display: inline;
  height: 50px;
  width: 70px;
}

.main-container {
  border-radius: 10px;
  background-color: #374354;
}

.table th,
.table td {
  color: white;
  text-align: center;
}

.border-right, .border-far-right, #teamTwoID {
  border-left-width: 4px;
  border-left-color: white;
  border-left-style: ridge;
}

.border-far-right, #teamTwoID {
  border-right-width: 4px;
  border-right-color: white;
  border-right-style: ridge;
}

.border-right {
  border-right-style: double;
  border-right-width: 8px;
  border-right-color: white;
}

.border-end {
  border-bottom-width: 4px;
  border-bottom-color: white;
  border-bottom-style: ridge;
}

#chart-wrapper {
  position: relative;
  width: 98%;
  display: flex;
}

#eloChart {
  margin: 0 auto;
  height: 560px;
  width: 100%;
}

h2 {
  color: #fff;
}
