body {
    padding-top: 50px;
    background-color: #a4230d;
}
header {
    color: white;
    
}

#header-logo {
    display: flex;
	height: 138px;
	width: 196px;
    background-image: url("../images/TF_Logo_2.png");
	background-repeat: no-repeat;
	background-position: left;
}

.team-name-top {
    color: white;
}

.team-icon > img {
    display: inline;
	height: 50px;
	width: 70px;
}

.main-container {
    border-radius: 10px;
    background-color: #374354;
}

.table th, .table td {
    color: white;
}

.border-right {
    border-right-style: double;
    border-right-width: 5px;
    border-right-color: #6b757e;
}

.border-bottom {
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #6b757e;
}

#chart-wrapper {
    position: relative;
    width: 98%;
    display: flex;
  }

#eloChart {
    margin: 0 auto;
    height: 560px;
    width: 100%;
}